<main class="main center">

  <div class="container bg-light p-3 rounded">
    <div class="row">

      <div class="col-12" *ngIf="usuarioLogeado.rol == 'administrador'">
        <div *ngIf="pacientes?.length; else esperandoPacientes">
          <h4>Pacientes</h4>
          <h6 *ngIf="pacienteElegido != null">Turno para: {{pacienteElegido.nombre}} {{pacienteElegido.apellido}}</h6>
          <ol>
            <li class="li-hover" *ngFor="let paciente of pacientes" (click)="elegirPaciente(paciente)" style="cursor: pointer;">
              {{paciente.nombre}} {{paciente.apellido}}
            </li>
          </ol>
        </div>
        <ng-template #esperandoPacientes>
          <div *ngIf="pacientes === null;else noHayPacientes" class="text-secondary center">
            <div class="spinner-border" role="status">
              <span class="visually-hidden"></span>
            </div>

          </div>
          <ng-template #noHayPacientes>
            <h5>No hay pacientes</h5>
          </ng-template>
        </ng-template>
      </div>

      <!-- ESPECIALISTAS -->
      <div class="col-12">
        <ng-container *ngIf="pacienteElegido != null">
          <ng-container *ngIf="especialistas?.length; else buscandoEspecialistas">
            <h4>Especialistas</h4>
            <div class="d-flex justify-content-center align-items-center flex-row">
              <div *ngFor="let especialista of especialistas" class="col-6 col-md-4 col-lg-2 text-center avatar">
                <button type="button" class="avatar__button" (click)="elegirEspecialista(especialista)">
                  <img class="avatar__img" [src]="especialista.foto.ruta" [alt]="especialista.nombre">
                </button>
                <p class="text-secondary">{{ especialista.nombre }} {{ especialista.apellido }}</p>
              </div>
            </div>
          </ng-container>
          <ng-template #buscandoEspecialistas>
            <div *ngIf="especialistas === null;else noHayEspecialistas" class="text-secondary center">
              <div class="spinner-border" role="status">
                <span class="visually-hidden"></span>
              </div>
            </div>
          </ng-template>
          <ng-template #noHayEspecialistas>
              <h5>No hay especialistas</h5>
          </ng-template>
        </ng-container>
      </div>


      <!-- ESPECIALIDADES -->
      <div class="col-12" *ngIf="filtroEspecialidadesDelEspecialista != null">
        <div *ngIf="especialidades?.length; else esperandoEspecialidades">
          <h4>Especialidades de {{ filtroEspecialista!.nombre }} {{ filtroEspecialista!.apellido }}</h4>
          <div class="d-flex justify-content-center align-items-center flex-row">
            <div *ngFor="let especialidad of filtroEspecialidadesDelEspecialista!" class="col-6 col-md-4 col-lg-2 text-center">
              <button type="button" class="default__button default__button--auto" (click)="elegirEspecialidad(especialidad)">
                <img class="default__img" src="../../../../../assets/especialidad/img-default.png" [alt]="especialidad.especialidad">
              </button>
              <p class="text-secondary pt-1">{{especialidad.especialidad}}</p>
            </div>
          </div>
        </div>
        <ng-template #esperandoEspecialidades>
          <div *ngIf="especialidades === null;else noHayEspecialidades" class="text-secondary center">
            <div class="spinner-border" role="status">
              <span class="visually-hidden"></span>
            </div>

          </div>
          <ng-template #noHayEspecialidades>
            <h5>No hay especialidades</h5>
          </ng-template>
        </ng-template>
      </div>


      <!-- TURNOS -->
      <div class="col-12">
        <ng-container *ngIf="filtroEspecialidad">
          <ng-container *ngIf="turnos?.length; else esperandoTurnos">
            <h5>Días de '{{this.filtroEspecialidad}}' disponibles.</h5>
            <div class="d-flex justify-content-center align-items-center flex-row row">
              <div *ngFor="let turno of filtroDiasTurnos" class="col-6 col-md-4 col-lg-2 text-center mb-2">
                <button type="button" class="day__button day__button--auto" (click)="elegirDia(turno.fechaInicio)">
                  <p class="text-secondary dayHour">{{turno.fechaInicio | date: 'dd-MM-yyyy' }}</p>
                </button>
              </div>
            </div>
          </ng-container>

          <ng-container *ngIf="filtroHorasTurnos != null && filtroDiasTurnos?.length;">
            <h5>Horarios disponibles para el {{this.fechaDelTurno}}.</h5>
            <div class="d-flex justify-content-center align-items-center flex-row row">
              <div *ngFor="let turno of filtroHorasTurnos" class="col mt-5 text-center">
                <button type="button" class="hora__button hora__button--auto" (click)="elegirTurno(turno)">
                  <p class="text-secondary dayHour">{{turno.fechaInicio | date: 'h:mm a' }}</p>
                </button>
              </div>
            </div>
          </ng-container>

          <ng-template #esperandoTurnos>
            <div *ngIf="turnos === null;else noHayTurnosDisponibles" class="text-secondary center">
              <div class="spinner-border" role="status">
                <span class="visually-hidden"></span>
              </div>
            </div>
            <ng-template #noHayTurnosDisponibles>
              <h5 class="text-danger">No hay turnos disponibles.</h5>
            </ng-template>
          </ng-template>
        </ng-container>
      </div>


    </div>
  </div>
</main>
