<main class="main center">

  <div class="container bg-light p-3 rounded">
    <div class="row">

      <div class="col-12" *ngIf="usuarioLogeado.rol == 'administrador'">
        <div *ngIf="pacientes?.length; else esperandoPacientes">
          <h4>Pacientes</h4>
          <h6 *ngIf="pacienteElegido != null">Turno para: {{pacienteElegido.nombre}} {{pacienteElegido.apellido}}</h6>
          <ol>
            <li class="li-hover" *ngFor="let paciente of pacientes" (click)="elegirPaciente(paciente)" style="cursor: pointer;">
              {{paciente.nombre}} {{paciente.apellido}}
            </li>
          </ol>
        </div>
        <ng-template #esperandoPacientes>
          <div *ngIf="pacientes === null;else noHayPacientes" class="text-secondary center">
            <div class="spinner-border" role="status">
              <span class="visually-hidden"></span>
            </div>

          </div>
          <ng-template #noHayPacientes>
            <h5>No hay pacientes</h5>
          </ng-template>
        </ng-template>
      </div>

      <div class="col-12" *ngIf="pacienteElegido != null">
        <div *ngIf="especialidades?.length; else esperandoEspecialidades">
          <h4>Especialidades</h4>
          <ol>
            <li class="li-hover" *ngFor="let especialidad of especialidades" (click)="elegirEspecialidad(especialidad)" style="cursor: pointer;">
              {{especialidad.especialidad}}
            </li>
          </ol>
        </div>
        <ng-template #esperandoEspecialidades>
          <div *ngIf="especialidades === null;else noHayEspecialidades" class="text-secondary center">
            <div class="spinner-border" role="status">
              <span class="visually-hidden"></span>
            </div>

          </div>
          <ng-template #noHayEspecialidades>
            <h5>No hay especialidades</h5>
          </ng-template>
        </ng-template>
      </div>

      <div class="col-12">
        <ng-container *ngIf="filtroEspecialidad != ''">
          <ng-container *ngIf="especialistasFiltrados?.length; else noHayEspecialistas">
            <h4>Especialistas en '{{filtroEspecialidad}}'</h4>
            <ol>
              <li class="li-hover" *ngFor="let especialista of especialistasFiltrados!;" style="cursor: pointer;" (click)="elegirEspecialista(especialista)">
                {{ especialista.nombre }} {{ especialista.apellido }}
              </li>
            </ol>
            <span *ngIf="false">TODO: Verificar de otra forma mas eficiente</span>
            <h5 *ngIf="(especialistasFiltrados! ).length === 0; else hayComoEspecialistaElegido" class="text-danger">
              No se encontraron especialistas.
            </h5>
          </ng-container>
          <ng-template #noHayEspecialistas>
            <div *ngIf="especialistasFiltrados === null;else noHayEspecialistas" class="text-info center">
            </div>
              <h5>No hay especialistas</h5>
          </ng-template>
        </ng-container>
      </div>

      <ng-template #hayComoEspecialistaElegido>
        <div class="col-12">
          <ng-container *ngIf="filtroEspecialista != null">
            <ng-container *ngIf="turnos?.length; else esperandoTurnos">
              <h5>Turnos de '{{filtroEspecialista.nombre}} {{filtroEspecialista.apellido}}' disponibles.</h5>
              <div>
                <div class="table-responsive">
                  <table class="table  text-center">
                    <thead>
                      <tr>
                        <th>Fecha</th>
                        <th>Inicio</th>
                        <th>Fin</th>
                        <th>Duración</th>
                      </tr>
                    </thead>
                    <thead *ngFor="let turno of turnos">
                      <tr (click)="elegirTurno(turno)" class="tr-hover">
                        <td>{{turno.fechaInicio |date: 'fullDate' | uppercase}}</td>
                        <td>{{turno.horaInicio}}</td>
                        <td>{{turno.horaFinal}}</td>
                        <td>{{turno.duracion}}</td>
                      </tr>
                    </thead>
                  </table>
                </div>

              </div>

            </ng-container>
            <ng-template #esperandoTurnos>
              <div *ngIf="turnos === null;else noHayTurnosDisponibles" class="text-secondary center">
                <div class="spinner-border" role="status">
                  <span class="visually-hidden"></span>
                </div>
              </div>
              <ng-template #noHayTurnosDisponibles>
                <h5 class="text-danger">No hay turnos disponibles.</h5>
              </ng-template>
            </ng-template>
          </ng-container>
        </div>
      </ng-template>

    </div>
  </div>
</main>
