<main class="main position-relative">

  <div class="container">

    <h5 *ngIf="turnosEspecialista?.length == 0;else hayTurnos" class="bg-light text-danger rounded py-1 px-3">
      No tiene turnos
    </h5>

    <ng-template #hayTurnos>
      <div class="pb-3">
        <div class="row">
          <div class="col-12">
            <div class="form-floating mt-3">
              <input type="text" class="form-control w-100" id="floatingNombre" placeholder="Nombre" [(ngModel)]="filtro">
              <label for="floatingNombre">Filtro</label>
            </div>
          </div>
        </div>
      </div>

      <div class="table-responsive bg-light">
        <table class="table  text-center">
          <thead>
            <tr>
              <th>Fecha</th>
              <th>Inicio</th>
              <th>Fin</th>
              <th>Duración</th>
              <th>Paciente</th>
              <th>Especialidad</th>
              <th>Estado</th>
              <th>Acción</th>
              <th>Historia Clinica</th>
            </tr>
          </thead>

          <tbody  *ngFor="let turnoEspecialista of turnosEspecialista!  | filtroTurnosEspecialista:filtro;">
            <tr class="tr-hover">
              <td class="align-middle">{{turnoEspecialista.turno.fechaInicio | fechaCompleta | uppercase }}</td>
              <td class="align-middle">{{turnoEspecialista.turno.horaInicio}}</td>
              <td class="align-middle">{{turnoEspecialista.turno.horaFinal}}</td>
              <td class="align-middle">{{turnoEspecialista.turno.duracion }} min</td>
              <td class="align-middle">{{turnoEspecialista.paciente.apellido}}, {{turnoEspecialista.paciente.nombre}}</td>
              <td class="align-middle">{{turnoEspecialista.turno.especialidad.especialidad}}</td>
              <td class="align-middle"><strong><em>{{turnoEspecialista.turno.estadoTurno}}</em></strong></td>
              <!-- TODO: mejorar y agrupar los if, para tener if and else -->
              <td class="d-flex flex-row justify-content-center" >

                <!-- Aceptar -->
                <button *ngIf="turnoEspecialista.turno.estadoTurno != 'Aceptado'
                            && turnoEspecialista.turno.estadoTurno != 'Realizado'
                            && turnoEspecialista.turno.estadoTurno != 'Cancelado'
                            && turnoEspecialista.turno.estadoTurno != 'Rechazado'" class="btn btn-outline-success border" title="aceptar" (click)="aceptarTurno(turnoEspecialista.turno)">
                  <i class="bi bi-check-circle"></i>
                </button>

                <!-- Cancelar -->
                <button *ngIf="turnoEspecialista.turno.estadoTurno != 'Aceptado'
                            && turnoEspecialista.turno.estadoTurno != 'Realizado'
                            && turnoEspecialista.turno.estadoTurno != 'Rechazado'
                            && turnoEspecialista.turno.estadoTurno != 'Cancelado'" class="btn btn-outline-danger border" title="Cancelar" (click)="cancelarTurno(turnoEspecialista.turno)">
                  <i class="bi bi-trash"></i>
                </button>

                <!-- Rechazar -->
                <button *ngIf="turnoEspecialista.turno.estadoTurno != 'Aceptado'
                            && turnoEspecialista.turno.estadoTurno != 'Realizado'
                            && turnoEspecialista.turno.estadoTurno != 'Rechazado'
                            && turnoEspecialista.turno.estadoTurno != 'Cancelado'" class="btn btn-outline-warning border" title="Rechazar" (click)="rechazarTurno(turnoEspecialista.turno)">
                  <i class="bi bi-x-circle"></i>
                </button>

                <!-- Finalizar -->
                <button *ngIf="turnoEspecialista.turno.estadoTurno == 'Aceptado'" class="btn btn-outline-success border" title="Finalizar" (click)="finalizarTurno(turnoEspecialista.turno)">
                  <i class="bi bi-check2-all"></i>
                </button>

                <!-- Ver reseña/comentario -->
                <button *ngIf="turnoEspecialista.turno.reseniaEspecialista
                              || turnoEspecialista.turno.comentarioEspecialista
                              || turnoEspecialista.turno.comentarioPaciente
                              || turnoEspecialista.turno.comentarioAdministrador" class="btn btn-outline-info border" title="Ver reseña/comentario" (click)="verResenia(turnoEspecialista.turno)">
                  <i class="bi bi-chat-square-text"></i>
                </button>

                <!-- Ver diagnóstico -->
                <button *ngIf="turnoEspecialista.turno.diagnosticoEspecialista != ''" class="btn btn-outline-secondary border" title="Ver diagnostico" (click)="verDiagnostico(turnoEspecialista.turno)">
                  <i class="bi bi-file-earmark-text"></i>
                </button>

                <!-- Historia clinica -->
                <button *ngIf="turnoEspecialista.turno.estadoTurno == 'Realizado'
                          && !turnoEspecialista.turno.historiaClinica" class="btn btn-outline-primary border" title="Completar historia clinica" (click)="completarHistoriaClinica(turnoEspecialista.turno)">
                  <i class="bi bi-clipboard2-heart-fill"></i>
                </button>
              </td>

              <!-- Historia clinica -->
              <td class="align-middle">
                <button *ngIf="turnoEspecialista.turno.historiaClinica;else noTieneHistoriaClinica" class="btn btn-warning" (click)="verHistoriasClinicas(turnoEspecialista)">
                  <i class="bi bi-search"></i>
                </button>
                <ng-template #noTieneHistoriaClinica>
                  N/A
                </ng-template>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </ng-template>

  </div>

  <app-crear-historia-clinica
    *ngIf="mostrarGenerarHistoriaClinica"
     (historiaClinica)="setearHistoriaClinica($event)"
     (canceloHistoriaClinica)="cancelarSeteoHistoriaClinica($event)"
     (ocultar)="turnosConHistoriasClinicas = $event">
  </app-crear-historia-clinica>

  <app-ver-historias-clinicas
    *ngIf="turnosConHistoriasClinicas"
    [turnosEspecialista]="turnosConHistoriasClinicas"
    [posicionDeHistoria]="posicionDeHistoria"
   (ocultar)="turnosConHistoriasClinicas = $event">
  </app-ver-historias-clinicas>

</main>
