<main class="main center">
  <section class="eleccion container rounded py-3">
    <h2 class="text-center">Registrarme como:</h2>
    <form>
      <div class="row text-center">
        <div class="col-6">
          <input class="radio" type="radio" id="radio1" name="radioGroup" (change)="cambiarRol('especialista')" [checked]="rol == 'especialista' ? true : false">
          <label for="radio1">
            <img src="../../../../../../assets/registro/especialista.png" alt="Especialista" class="radio-image-especialista">
          </label>
        </div>
        <div class="col-6">
          <input class="radio" type="radio" id="radio2" name="radioGroup" (change)="cambiarRol('paciente')" [checked]="rol == 'paciente' ? true : false">
          <label for="radio2">
            <img src="../../../../../../assets/registro/paciente.png" alt="Pacientes" class="radio-image-paciente">
          </label>
        </div>
      </div>
    </form>
    <ng-container [ngSwitch]="rol">
      <app-registro-paciente *ngSwitchCase="'paciente'"></app-registro-paciente>
      <app-registro-especialista *ngSwitchCase="'especialista'"></app-registro-especialista>
      <ng-container *ngSwitchCase="'sin elegir'"></ng-container>
      <h1 *ngSwitchDefault>Seleccione como se quiere registrar...</h1>
    </ng-container>
  </section>
</main>
