.main{
  height: calc(100vh - var(--nav-height));
  background-image: url('../../../../../../assets/bg/clinica-bg.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}

.radio {
  display: none;
}

img{
  width: 30%;
}

.radio-image-paciente {
  background-color: darkslateblue;
  border: 0.3rem solid darkslateblue;
  border-radius: 10%;
}

.radio-image-especialista {
  background-color: deeppink;
  border: 0.3rem solid deeppink;
  border-radius: 10%;
}

input[type="radio"]:checked + label .radio-image {
  border-color: var(--bs-primary);
}

@media (max-width: 768px){

  // .main{
  //   min-height: 1000px;
  // }

  .radio-image{
    width: 75%;
  }
}

// label{
//   background-color: var(--bs-info);
//   border-radius: 50%;
// }
