.img-fluid{
  width: 100%;
}

.img-fluid-2{
  width: 50%;
}

.contenido{
  display: flex;
  justify-content: center;
}

.card {
  width: 100%;
  border: none;
  border-radius: 10px;
  background-color: #fff
}

.stats {
  background: #f2f5f8 !important;
  color: #000 !important
}

.articles {
  font-size: 1em;
  color: #7e848f
}

.number1 {
  font-weight: 500
}

.followers {
  font-size: 1em;
  color: #7e848f
}

.number2 {
  font-weight: 500
}

.rating {
  font-size: 1em;
  color: #7e848f
}

.number3 {
  font-weight: 500
}
